// Fonts
$font-size-xx-small: 14px;
$font-size-x-small: 16px;
$font-size-small: 18px;
$font-size-regular: 20px;
$font-size-large: 25px;
$font-size-x-large: 30px;
$font-size-xx-large: 33px;
$font-size-xxx-large: 60px;
$font-size-xxxx-large: 120px;
$font-size-modificator: 2px;
$base-font-family: 'Roboto', Arial, sans-serif;
$base-line-height: 1.33;
$large-line-height: 2.2;
$base-font-weight: 400;