.btn,
button {
  position: relative;
	display: inline-block;
	vertical-align: top;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
	cursor: pointer;
	color: white;
	padding: 0.4em 2.4em;
	background-color: $color-accent;
	border-radius: 2em;
  box-shadow: 0 18px 35px $color-shadow;
  background-color: white;
  color: $color-accent;
  transition: all 0.3s;
  font-size: $font-size-regular;

  &:hover {
		box-shadow: 0 6px 10px $color-shadow;
		opacity: 0.9;
	}
	&:focus {
		box-shadow: 0 0 1em $color-shadow;
		opacity: 0.7;
	}
}
